bin/*
!bin/data

bin/data/*
!bin/data/*/
!bin/data/*.frag
!bin/data/*.vert

.DS_Store
domecombined.xcodeproj/xcuserdata/*
domecombined.xcodeproj/project.xcworkspace
domecombined.xcodeproj/project.xcworkspace/*
obj/
obj/*

build/